<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="icon">
	<f:translate key="tx_neuron_domain_model_socialnetwork.icon" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="icon" /><br />
<label for="name">
	<f:translate key="tx_neuron_domain_model_socialnetwork.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="link">
	<f:translate key="tx_neuron_domain_model_socialnetwork.link" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="link" /><br />
</html>